@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Kanit";
}

.hand {
  display: flex;
  justify-content: center;
  margin-block: 100px;
  gap: 25px;
}

.scores {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

#player-hand {
  height: 300px;
}

#cpu-hand {
  height: 150px;
}

.hand > img {
  transition: all 2s;
  box-shadow: 0 8px 8px -4px grey;
  border-radius: 5px;
}

.selected {
  scale: 1.25;
  transform: translateY(-15%);
}
